div.square {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	background-color: #FF0000;
	position: relative;
}

div.button {
	height: 20px;
	width: 100px;
	background-color: silver;
	display: inline;
}