div.button {
	height: 20px;
	width: 150px;
	background-color: silver;
	display: inline;
	border-radius: 5px;
	padding: 2px 8px 2px 8px;
	cursor: pointer;
}

div.cover {
	min-width: 30px;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
}

#ash {
	background-color: red;
}

#misty {
	background-color: blue;
}

#brock {
	background-color: gray;
}